.MuiDataGrid-cell--textLeft {
  justify-content: center !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination li a {
  border-radius: 0.375rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  background: rgb(0 0 0 / 0.1);
  transition: all 0.15s ease-in;
}

.pagination li a:hover {
  border-radius: 0.375rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  background: rgb(0 0 0 / 0.2);
}

.pagination li.previous a,
.pagination li.next a,
.pagination li.break a {
  border-color: transparent;
}

.pagination li.active a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

.pagination li.disabled a {
  color: grey;
  opacity: 0;
  pointer-events: none;
}

.pagination li.disable,
.pagination li.disabled a {
  cursor: default;
}


.active-page {
  background: rgb(96 165 250 / 1) !important;
  color: #fff;
}