.MuiDataGrid-cell--textLeft {
  justify-content: center !important;
}
#root {
  color: #000000;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.sidebar li {
  cursor: pointer;
  padding: 8px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.sidebar li:hover {
  background-color: #a8a6a6;
}
.sidebar li.active {
  font-weight: bold;
  color: blue;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main-content {
    margin-left: 0;
  }
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
